
:root {
    --primary: rgb(192, 176, 176);
    --secondary: rgb(46, 68, 129);
    --third: rgb(32, 31, 25);
    --four: rgb(159, 5, 144);
    --five: gold;
    --six: rgb(4, 4, 174);
}
body{
    background-color: black;
    font-size: 20px;
    height: 100%;
    width: 100%;
}
#background{
height: 100vh;
width: 100vw;
background: linear-gradient(180deg, var(--secondary), var(--third));
border: solid 5px var(--five);
color: var(--third);
padding-top: 20vh;
}
#titlebx{
height: 50%;
width: 50%;
border: solid 2px var(--six);
border-radius: 50%;
margin: auto;
margin-top: 20px;
background-color: var(--secondary);
text-align: center;
box-shadow: 0px 2px 20px var(--four);
text-shadow: 0px 0px 0px var(--four);
animation-name: glow;
animation-duration: 3s;
animation-iteration-count: infinite;
color: var(--primary);
}
.nav{
    border: 2px solid lime;
    border-radius: 20%;
    height: 25vh;
    width: 12vw;
    background-color: var(--four);
    opacity: 60%;
    position: absolute;
    text-align: left;
    margin-top: -100px;

}
@keyframes glow {
    25% {text-shadow: 1px 1px 20px var(--third)}
    50% {text-shadow: 1px 1px 40px var(--five)}
    75% {text-shadow: 1px 1px 20px var(--third)}
   }

#picbx{
margin-top: 20px;
margin-left: 35%;
}
#pp{
height: 330px;
width: 330px;
border: solid 5px var(--secondary);
border-radius: 20%;
box-shadow: 0px 2px 20px var(--four);
}
#aboutbx{
border: solid 5px var(--secondary);
border-radius: 25%;
width: 65%;
margin: auto;
margin-top: 60px;
color: var(--primary);
box-shadow: 0px 2px 20px var(--four);
text-align: center;
font-family: 'Montserrat Alternates', sans-serif;
}

.list{
    list-style: none;
}
/*projects page*/
#pbackground{
    height: 110vh;
    width: 100vw;
    background: linear-gradient(0deg, var(--secondary), var(--third));
    text-align: center;
    color: var(--five);
    border: solid 5px var(--five);
}
#pcon{
    height: 85vh;
    width: 90vw;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
}
.proj:hover{
text-shadow: 1px 1px 20px rgb(253, 149, 4);
transform: scale(1.5);
}
.pimg{
    height: 100px;
    width: 100px;
}
.pimg:hover{
    box-shadow: 0 0 20px purple;
}
a{
    color: gold;
}
a:hover{
color: aqua;
}
/*resume page*/

#rbackground{
    height: 110vh;
    width: 100vw;
    background: linear-gradient(180deg, var(--secondary), var(--third));
    text-align: center;
    color: var(--five);
    border: solid 5px var(--five);
}
#rcon{
    width: 90vw;
    height: 90vh;
    margin: auto;
}
.cert{
    height: 100px;
    width: 100px;
}
.cert:hover {
    transform: scale(4);
  }

/*skill*/
#sbackground{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg, var(--secondary), var(--third));
    text-align: center;
    color: var(--five);
    border: solid 5px var(--five);
}
#scon{
    width: 90vw;
    height: 90vh;
    margin: auto;
}
.foot{
    border: 2px solid var(--five);
    width: fit-content;
    margin: auto;
}
@media (max-width: 800px){
    #background{
        height: 100vh;
        width: 100vw;
        font-size: 18px;
    }

    #rbackground{
        height: 150vh;
        width: 100vw;
        font-size: 18px;
    }
    .nav{
        width: 25vw;
    }
}
@media (max-height: 500px){
    #background{
        height: 200vh;
        width: 100vw;
        font-size: 18px;
    }
    #pbackground{
        height: 200vh;
        width: 100vw;
        font-size: 18px;
    }
    #pcon{
        height: 85vh;
        width: 90vw;
        display: grid;
        grid-template-rows: 33% 33% 33%;
        grid-template-columns: 33% 33% 33%;
        grid-column-gap: 15px;
        grid-row-gap: 100px;
        align-items: center;
    }
    #rbackground{
        height: 300vh;
        width: 100vw;
        font-size: 18px;
    }
    #sbackground{
        height: 200vh;
        width: 100vw;
        font-size: 18px;
    }
}
